@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');


.hello{
    background-image: url('https://cdn.corporatefinanceinstitute.com/assets/real-estate.jpeg');
    background-size: cover;
    height:729px;
    width: 100%;
    padding-top:20px;

}

.libre-barcode-39-text-regular {
    font-family: "Libre Barcode 39 Text", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  